version: '3'

services:
  # Backend (Node.js/Express)
  server:
    build:
      context: ./server
    container_name: server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb+srv://mongoproject:mongodb2022@cluster0.x5k4j.mongodb.net/task-management-2024?retryWrites=true&w=majority&appName=Cluster0
    volumes:
      - ./server:/app

  # Frontend (React)
  client:
    build:
      context: ./frontend
    container_name: client
    ports:
      - "3000:3000"
    depends_on:
      - server
    volumes:
      - ./frontend:/app
